<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-0 text-dark text-decoration-none">
      <span class="fs-2">{{ title }}</span>
    </a>
  </header>
</div>

<div class="container">
  <div class="list-group">
      <app-task-list-item
        *ngFor="let task of tasks"
        [task]="task"
        (refresh)="refreshList()">
      </app-task-list-item>
  </div>
</div>

<router-outlet></router-outlet>